%estiloDeListas{
    list-style: none;
    text-decoration: none;
}

%fuente{
    color:antiquewhite;
    font-family: 'Smooch Sans', sans-serif;
    text-align: center;
}

%fuente-bio{
    text-align: center;
    font-family: 'Raleway', sans-serif;  
    color: antiquewhite;
    font-size: 17px;

}

%margins{
    margin-top: 80px;
    margin-bottom: 100px;
}

%textsmargins{
    margin-left: 60px;
    margin-right: 60px;
}